/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{

  box-sizing: border-box;
}

#profilePhoto{
  margin: auto 70px;
}

.name{
  font-size: 4rem;
  color: rgb(61, 71, 204);;
  display: flex;
  justify-content: center;
  align-content:center
}


.card {
  background-color: white;
  border-radius: 2px;
  height: 525px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;

}

contact-input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

/* styling for contact page */
/* .contact-form {
  margin: 50px;
}

/* container size for name and email container on contact page */
/* .contact-form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  height: 40px;
  background-color: #ffff;
}

/* extends height to message container on contact page */
/* .contact-form > .message-input {
  height: 12rem;
}

p {
  font-size: 22px;

  font-weight: bold;
  font-family: 'Helvetica', cursive;
}

#about-container, #image-container, .eduction-container {
  margin: 0px 10px;
}

.key-title, .resume, .name, .title, .contact, .education{
  font-weight: bold;
  font-family: 'Helvetica', cursive;
}


.school-name {
  font-weight: bolder;
} */ 

/*project */
/* .card {
  border-radius: 2px;
  height: 400px;
  margin: 1rem;
  position: relative;
  width: 425px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 50%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
}

.card> .img-container > img {
  width: 100%; 
  padding: 25px;
  background-color: white;
}

.card > .content {
  padding-right: 1rem;
  font-size: 18px;
  font-weight: bold;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
  justify-content: center;
}

.wrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.icon {
  padding: 10px;
  width: 12%;
  
} */


/* .home{
  justify-content: left;
}
#port-icon {
  margin: 0px 20px;
  width: 30%;
  height: 50%;
}

.project-title {
  font-Weight: bold;
  font-family: 'Helvetica', cursive;
}

.project-icons {
  justify-content: center;
  align-content: center;
}

.resume-icon {
  padding: 10px;
  width: 45%;
  
}

.resume-container {
  margin: 20px 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 20px
}

.page-footer {
  background: #333;
  position: relative;
  color: white;
padding: 25px 5px;
  margin-top: auto;
  width: 100%;
  bottom: 0;

}

.nav {
  background-color: rgb(235, 230, 230);
  color: white;

  align-items: center;
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  font-size: 24px;
  font-weight: bold;
}
 */ 
